.history
.idea

**/cache
**/dist
**/forge-out
**/node_modules
**/generated
*.generated.ts
.env*

.eslint.local.json
.eslintcache

.verifier*

.DS_Store
*.log

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions